@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="top_g_g_888">
</div>
<div class="xueyuan-new-tongtu" id="mainPart">
</div>
<div class="xueyuan-new">
    <div class="bx f">
        <h3>线下课程</h3>
        <div class="xuey">
            <dl class="xueyu">
                <dt>
                    <a href="javascript:void(0);" target="_blank">
                        <img src="../Image/school/xue22.png" alt="区块链底层知识培训">
                    </a>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>区块链底层知识培训 </h4>
                        </div>
                        <span class="huise"><a href="javascript:void(0);">筹备中</a></span>
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.11.10 - 11.13</p>*@
                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <a href="javascript:void(0);" target="_blank">
                        <img src="../Image/school/Group5.png" alt="区块链相关知识:货币知识,相关投资">
                    </a>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>区块链相关知识:货币知识,相关投资 </h4>
                        </div>
                        <span class="huise"><a href="javascript:void(0);">筹备中</a></span>
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.10.15 - 10.20</p>*@
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="renwu">
    <div class="bx f">
        <h4>在线讲座<span>微信讲座，行业大咖....</span></h4>
        <div class="renw">
            <div class="renwu-wz">
                <a href="javascript:void(0);" target="_blank">
                    <img src="../Image/school/337830.png" alt="特约嘉宾">
                </a>
                <dl>
                    <dt>
                        <a href="javascript:void(0);" target="_blank">
                            区块链底层知识培训
                        </a>
                    </dt>
                    <dd>特约嘉宾</dd>
                    <dd>
                        @*<div>11月23日 19:00</div>*@
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="javascript:void(0);" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="javascript:void(0);" target="_blank">
                    <img src="../Image/school/337830.png" alt="特约嘉宾">
                </a>
                <dl>
                    <dt>
                        <a href="javascript:void(0);" target="_blank">
                            国内外区块链技术发展与前景
                        </a>
                    </dt>
                    <dd>特约嘉宾</dd>
                    <dd>
                        @*<div>11月23日 19:00</div>*@
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="javascript:void(0);" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="javascript:void(0);" target="_blank">
                    <img src="../Image/school/337830.png" alt="特约嘉宾">
                </a>
                <dl>
                    <dt>
                        <a href="javascript:void(0);" target="_blank">
                            区块链行业应用场景及解决方案培训
                        </a>
                    </dt>
                    <dd>特约嘉宾</dd>
                    <dd>
                        @*<div>11月23日 19:00</div>*@
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="javascript:void(0);" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="javascript:void(0);" target="_blank">
                    <img src="../Image/school/337830.png" alt="特约嘉宾">
                </a>
                <dl>
                    <dt>
                        <a href="javascript:void(0);" target="_blank">
                            区块链技术与金融投资
                        </a>
                    </dt>
                    <dd>特约嘉宾</dd>
                    <dd>
                        @*<div>11月23日 19:00</div>*@
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="javascript:void(0);" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
