@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="top_g_g_888">
</div>
<div class="xueyuan-new-tongtu" id="mainPart">
</div>
<div class="xueyuan-new">
    <div class="bx f">
        <h3>线下课程</h3>
        <div class="xuey">
            <dl class="xueyu">
                <dt>
                    <a href="http://www.jinse.com/xueyuan/2.html" target="_blank">
                        <img src="../Image/school/xue2.png" alt="第2期 技术与应用创新培训">
                    </a>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>第2期 技术与应用创新培训 </h4><strong>¥8,888</strong>
                        </div>
                        <span class="huise"><a href="javascript:void(0);">已结束</a></span>
                    </div>
                    <div class="xueyuan-bottom f">
                        <p>北京 2017.11.10 - 11.13</p>
                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <a href="http://www.jinse.com/xueyuan/1.html" target="_blank">
                        <img src="../Image/school/Group5.png" alt="第1期 技术与应用创新培训">
                    </a>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>第1期 技术与应用创新培训 </h4><strong>¥8,888</strong>
                        </div>
                        <span class="huise"><a href="javascript:void(0);">已结束</a></span>
                    </div>
                    <div class="xueyuan-bottom f">
                        <p>北京 2017.10.15 - 10.20</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="renwu">
    <div class="bx f">
        <h4>在线讲座<span>微信讲座，行业大咖....</span></h4>
        <div class="renw">
            <div class="renwu-wz">
                <a href="http://www.jinse.com/bitcoin/95702.html" target="_blank">
                    <img src="../Image/school/337830.png" alt="江卓尔 莱比特矿池 BTC.TOP 负责人">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/bitcoin/95702.html" target="_blank">
                            第10期·比特币的价值与分叉
                        </a>
                    </dt>
                    <dd>江卓尔 莱比特矿池 BTC.TOP 负责人</dd>
                    <dd>
                        <div>11月23日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/bitcoin/100042.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/blockchain/82161.html" target="_blank">
                    <img src="../Image/school/326791.png" alt="王彬生 中国社科院研究生院特聘教授">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/blockchain/82161.html" target="_blank">
                            第9期·区块链市场的逻辑及热点思考
                        </a>
                    </dt>
                    <dd>王彬生 中国社科院研究生院特聘教授</dd>
                    <dd>
                        <div>10月25日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/blockchain/84685.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/blockchain/80477.html" target="_blank">
                    <img src="../Image/school/lsg.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/blockchain/80477.html" target="_blank">
                            第8期·新经区块链的创新与应用
                        </a>
                    </dt>
                    <dd>李世庚 新经区块链中国区CEO</dd>
                    <dd>
                        <div>10月19日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/blockchain/81849.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                        <a href="http://www.jinse.com/blockchain/94408.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape1.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">
                            视频
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/blockchain_tech/72310.html" target="_blank">
                    <img src="../Image/school/gc.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/blockchain_tech/72310.html" target="_blank">
                            第7期·区块链技术如何应用全球支付
                        </a>
                    </dt>
                    <dd>高潮 NewPay 创始人</dd>
                    <dd>
                        <div>9月27日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/blockchain/74133.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/blockchain/68242.html" target="_blank">
                    <img src="../Image/school/lj.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/blockchain/68242.html" target="_blank">
                            第6期·辨析区块链技术与应用要点
                        </a>
                    </dt>
                    <dd>李军博士 布比联合创始人</dd>
                    <dd>
                        <div>9月19日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/blockchain_tech/70372.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/bitcoin/63950.html" target="_blank">
                    <img src="../Image/school/szy.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/bitcoin/63950.html" target="_blank">
                            第5期·数字货币应该如何安全存储
                        </a>
                    </dt>
                    <dd>孙泽宇 库神钱包联合创始人</dd>
                    <dd>
                        <div>9月7日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/blockchain/65398.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/blockchain/60917.html" target="_blank">
                    <img src="../Image/school/xl.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/blockchain/60917.html" target="_blank">
                            第4期·另类投资专家肖磊教您如何投资数字货币
                        </a>
                    </dt>
                    <dd>另类投资专家 肖磊</dd>
                    <dd>
                        <div>8月31日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/blockchain/62525.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/blockchain/58790.html" target="_blank">
                    <img src="../Image/school/cwd.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/blockchain/58790.html" target="_blank">
                            第3期·倾力解读风口浪尖上的ICO监管
                        </a>
                    </dt>
                    <dd>蔡维德教授</dd>
                    <dd>
                        <div>8月24日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/blockchain/60031.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/bitcoin/54722.html" target="_blank">
                    <img src="../Image/school/qcsy.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/bitcoin/54722.html" target="_blank">
                            第2期·鱼池神鱼告诉你什么值得挖？谁会是下一个千倍币
                        </a>
                    </dt>
                    <dd>鱼池神鱼 &nbsp;鱼池f2pool联合创始人</dd>
                    <dd>
                        <div>8月17日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/bitcoin/57007.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
            <div class="renwu-wz">
                <a href="http://www.jinse.com/news/bitcoin/51904.html" target="_blank">
                    <img src="../Image/school/yhb.png">
                </a>
                <dl>
                    <dt>
                        <a href="http://www.jinse.com/news/bitcoin/51904.html" target="_blank">
                            第1期·深度解析BCH投资价值
                        </a>
                    </dt>
                    <dd>ViaBTC CEO</dd>
                    <dd>
                        <div>8月9日 19:00</div>
                        <span class="mianfei">免费</span>
                    </dd>
                    <dd class="dibu">
                        <a href="http://www.jinse.com/news/bitcoin/54294.html" target="_blank" style="background: url(&#39;http://resource.jinse.com/phenix/img/shape.png?v=177&#39;)6px 5px no-repeat;background-color: #F29700;background-size:12px 12px">文章</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
