@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageArticle.cshtml";
}

<div class="xueyuan-new">
    <div class="bx f">
        <h3>产业分享</h3>
        <div class="xuey">
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=a0506hzcbon&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>什么是区块链？ </h4>@*<strong>¥8,888</strong>*@
                        </div>
                        @*<span style="margin-top: 28px;"><a href="http://www.jinse.com/xueyuan/3.html" target="_blank">立即报名</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.12.08 - 12.11</p>*@

                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=j0513ys1lhh&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>什么是比特币？ </h4>
                        </div>
                        @*<span class="huise" style="margin-top: 28px;"><a href="javascript:void(0);">已结束</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.11.10 - 11.13</p>*@

                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=p0569u2ouwy&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>区块链的四个基本特征 </h4>
                        </div>
                        @*<span class="huise" style="margin-top: 28px;"><a href="javascript:void(0);">已结束</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.10.15 - 10.20</p>*@

                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=x05129z5chb&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>区块链的应用环境 </h4>
                        </div>
                        @*<span class="huise" style="margin-top: 28px;"><a href="javascript:void(0);">已结束</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.10.15 - 10.20</p>*@

                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=b05122qk20k&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz "> 
                            <h4>区块链100问 </h4>
                        </div>
                        @*<span class="huise" style="margin-top: 28px;"><a href="javascript:void(0);">已结束</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.10.15 - 10.20</p>*@

                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=h0558ttnfrr&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>区块链高峰对话 </h4>
                        </div>
                        @*<span class="huise" style="margin-top: 28px;"><a href="javascript:void(0);">已结束</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.10.15 - 10.20</p>*@

                    </div>
                </dd>
            </dl>
            <dl class="xueyu">
                <dt>
                    <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=b0503liptv2&auto=0" allowfullscreen="true" quality="high" width="585" height="280" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                </dt>
                <dd>
                    <div class="xueyuan-top f">
                        <div class="xueyuan-topwz ">
                            <h4>区块链技术的应用前景展望 </h4>
                        </div>
                        @*<span class="huise" style="margin-top: 28px;"><a href="javascript:void(0);">已结束</a></span>*@
                    </div>
                    <div class="xueyuan-bottom f">
                        @*<p>北京 2017.10.15 - 10.20</p>*@

                    </div>
                </dd>
            </dl>

        </div>
    </div>
</div>