@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div id="top_g_g_888">

</div>

<div style="
    text-align: center;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-top: -20px;
">
    <a href="http://www.jinse.com/xueyuan/3.html" target="_blank"><img src="../Image/Article/359858.png"></a>
</div><div class="wrap marginb clearfix" deep="0">
    <div class="wrapleft marginb left" deep="1">
        <!-- 文章-内容 -->
        @RenderBody()
        

        <div class="article bgc marginb clearfix">
            <section class="tigs">
                <a href="http://www.jinse.com/tag/%E6%AF%94%E7%89%B9%E5%B8%81%E9%92%BB%E7%9F%B3" target="_blank" title="比特币钻石">比特币钻石</a>
                <a href="http://www.jinse.com/tag/BCD" target="_blank" title="BCD">BCD</a>
                <a href="http://www.jinse.com/tag/%E6%AF%94%E7%89%B9%E5%B8%81" target="_blank" title="比特币">比特币</a>
            </section>
        </div>

        <!-- 相关新闻 -->
        <div class="xgnews">
            <div class="banner800x100" style="margin-top:10px;">
                <ul>
                    <li class="activity-bg-purple800x100"><span></span><a href="http://sj.qq.com/myapp/detail.htm?apkName=com.jinse.app" target="_blank"><img src="../Image/Article/240948.png" border="0"></a></li>
                </ul>
            </div>

            <div class="banner800x100  marginb" style="margin-top:10px;">
                <ul>
                    <li class="activity-bg-purple800x100"><span></span><a href="https://otc.huobipro.com/?inviter_id=11116500" target="_blank"><img src="../Image/Article/334307.png" border="0"></a></li>
                </ul>
            </div><div class="tit">
                <ol class="font16 fontw left">相关新闻</ol>
            </div>
            <div class="con bgc padding clearfix">
                <ul>
                    <li>
                        <a href="http://www.jinse.com/news/blockchain/103822.html" target="_blank" title="区块链小白投资策略">
                            <img src="../Image/Article/362999_image8.png" border="0" alt="区块链小白投资策略" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                    </li>
                    <li class="line22 text">
                        <a href="http://www.jinse.com/news/blockchain/103822.html" target="_blank" title="区块链小白投资策略">
                            <span>区块链小白投资策略</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="http://www.jinse.com/futures/103825.html" target="_blank" title="神手淘金：不停换平台还是亏损，是否已心灰意冷？">
                            <img src="../Image/Article/347408_image8.png" border="0" alt="神手淘金：不停换平台还是亏损，是否已心灰意冷？" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                    </li>
                    <li class="line22 text">
                        <a href="http://www.jinse.com/futures/103825.html" target="_blank" title="神手淘金：不停换平台还是亏损，是否已心灰意冷？">
                            <span>神手淘金：不停换平台还是亏损，是否已心灰意冷？</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="http://www.jinse.com/news/bitcoin/103833.html" target="_blank" title="为啥比特币涨，其他币跌-启文说币171129">
                            <img src="../Image/Article/358208_image8.png" border="0" alt="为啥比特币涨，其他币跌-启文说币171129" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                    </li>
                    <li class="line22 text">
                        <a href="http://www.jinse.com/news/bitcoin/103833.html" target="_blank" title="为啥比特币涨，其他币跌-启文说币171129">
                            <span>为啥比特币涨，其他币跌-启文说币171129</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="http://www.jinse.com/bitcoin/103843.html" target="_blank" title="罗易：黄金大幅跳水，弱势未改反弹就是空！">
                            <img src="../Image/Article/316435_image8.png" border="0" alt="罗易：黄金大幅跳水，弱势未改反弹就是空！" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                    </li>
                    <li class="line22 text">
                        <a href="http://www.jinse.com/bitcoin/103843.html" target="_blank" title="罗易：黄金大幅跳水，弱势未改反弹就是空！">
                            <span>罗易：黄金大幅跳水，弱势未改反弹就是空！</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="http://www.jinse.com/news/bitcoin/103845.html" target="_blank" title="突然的大跌有没有引起你的警惕？ 11月行情总结">
                            <img src="../Image/Article/363153_image8.png" border="0" alt="突然的大跌有没有引起你的警惕？ 11月行情总结" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                    </li>
                    <li class="line22 text">
                        <a href="http://www.jinse.com/news/bitcoin/103845.html" target="_blank" title="突然的大跌有没有引起你的警惕？ 11月行情总结">
                            <span>突然的大跌有没有引起你的警惕？ 11月行情总结</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="http://www.jinse.com/bitcoin/103846.html" target="_blank" title="比特币今日大跌  据说“爸爸&quot;中本聪已经找到">
                            <img src="../Image/Article/363146_image8.png" border="0" alt="比特币今日大跌  据说“爸爸&quot;中本聪已经找到" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                    </li>
                    <li class="line22 text">
                        <a href="http://www.jinse.com/bitcoin/103846.html" target="_blank" title="比特币今日大跌  据说“爸爸&quot;中本聪已经找到">
                            <span>比特币今日大跌  据说“爸爸"中本聪已经找到</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapright right marginb">

        <!-- 作者信息 -->
        <div class="index-column f" style="margin-top: 0;">
            <ul>
                <li>
                    <span><img src="../Image/Article/185109_image20.png" alt=""></span>
                    <dl>
                        <dt>邃峰</dt>
                        <dd>个人实名认证</dd>

                    </dl>
                    <i>
                        <img src="../Image/Article/renzheng.png" alt="个人实名认证">

                    </i>
                </li>
                <li>
                    <p></p>
                </li>
                <li class="column-tongji">
                    <div class="wenzhang">
                        <strong>175篇</strong>
                        <p>文章总数</p>
                    </div>
                    <div class="wenzhang">
                        <strong>5,405,371</strong>
                        <p>文章总浏览数</p>
                    </div>
                </li>
            </ul>
        </div>
        <div id="right_g_g_777">

            <div class="banner380  ">
                <ul>
                    <li class="activity-bg-purple380x100"><span></span><a href="http://sj.qq.com/myapp/detail.htm?apkName=com.jinse.app" target="_blank"><img src="../Image/Article/240941.png" border="0"></a></li>
                </ul>
            </div>

            <div class="banner380 ">
                <ul>
                    <li class="activity-bg-purple380x100"><span></span><a href="https://www.atoken.com/" target="_blank"><img src="../Image/Article/312375.png" border="0"></a></li>
                </ul>
            </div>

            <div class="banner380">
                <ul>
                    <li class="activity-bg-purple380x100"><span></span><a href="https://bitcoinworld.com/" target="_blank"><img src="../Image/Article/326925.png" border="0"></a></li>
                </ul>
            </div>

            <div class="banner380*200  marginb">
                <ul>
                    <li class="activity-bg-purple380x200"><span></span><a href="http://www.jinse.com/bitcoin/95702.html" target="_blank"><img src="../Image/Article/331710.png" border="0"></a></li>
                </ul>
            </div>
        </div>        <!-- 右侧banner -->
        <!-- K线 -->
        <!-- 热门排行 -->
        <div class="ranking marginb">
            <div class="tit">
                <ol class="font16 fontw left">新闻排行</ol>
            </div>
            <div class="con bgc padding line22 clearfix">
                <ul class="clearfix">
                    <li class="font16 center  red  left sz">1</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/news/bitcoin/101269.html" target="_blank" title="重磅！中国比特币第一人杨林科受邀担任比特币钻石中国区顾问">重磅！中国比特币第一人杨林科受邀担任比特币钻石中国区顾问</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  red  left sz">2</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/101578.html" target="_blank" title="疯狂上涨的比特币 将刺激比特币大量分叉丨换个姿势看链圈">疯狂上涨的比特币 将刺激比特币大量分叉丨换个姿势看链圈</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  red  left sz">3</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/100921.html" target="_blank" title="比特币的盛兴导致大量矿工加入 三年后人类或将因挖矿而无电可用">比特币的盛兴导致大量矿工加入 三年后人类或将因挖矿而无电可用</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">4</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/102175.html" target="_blank" title="比特币明年底有望突破40000美元 以太坊价格将再翻三倍">比特币明年底有望突破40000美元 以太坊价格将再翻三倍</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">5</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/101440.html" target="_blank" title="比特币价格再破新高 1万美元还遥远吗？ | 分析师说">比特币价格再破新高 1万美元还遥远吗？ | 分析师说</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">6</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/news/bitcoin/100914.html" target="_blank" title="都说比特币是骗局，为什么涨到6万块钱一个？">都说比特币是骗局，为什么涨到6万块钱一个？</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">7</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/news/bitcoin/100915.html" target="_blank" title="多点警惕，少些疯狂--行情分析（11月26日）">多点警惕，少些疯狂--行情分析（11月26日）</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">8</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/102267.html" target="_blank" title="比特币价格再攀高峰 功臣竟是分叉币？ | 分析师说">比特币价格再攀高峰 功臣竟是分叉币？ | 分析师说</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">9</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/100930.html" target="_blank" title="比特币8年涨了1000万倍 人类有史以来最大的泡沫究竟何时破灭">比特币8年涨了1000万倍 人类有史以来最大的泡沫究竟何时破灭</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">10</li>
                    <li class="left biaot">
                        <a href="http://www.jinse.com/bitcoin/101543.html" target="_blank" title="AdEx (ADX)是什么？| 金色百科">AdEx&nbsp;(ADX)是什么？| 金色百科</a>
                    </li>
                </ul>
            </div>
        </div>        <!-- 热门新闻 -->
        <div class="hotnews marginb">
            <div class="banner380x200  marginb">
                <ul>
                    <li class="activity-bg-purple380x200"><span></span><a href="http://fengwo.com/" target="_blank"><img src="../Image/Article/240971.png" border="0"></a></li>
                </ul>
            </div><div class="tit">
                <ol class="font16 fontw left">热门新闻</ol>
            </div>
            <div class="con bgc paddingclearfix">
                <div class="con bgc padding clearfix">
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/103700.html" target="_blank" title="辟谣：旧金山联储主席约翰•威廉姆斯称美联储没有发行数字货币计划  至少现在没有">
                            <img class="left" src="../Image/Article/362569_image7.png" alt="辟谣：旧金山联储主席约翰•威廉姆斯称美联储没有发行数字货币计划  至少现在没有" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/103700.html" target="_blank" title="辟谣：旧金山联储主席约翰•威廉姆斯称美联储没有发行数字货币计划  至少现在没有">辟谣：旧金山联储主席约翰•威廉姆斯称美联储没有发行数字货币计划  至少现在没有</a>
                            </span>
                            <li class="font12 gray8">3小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/103291.html" target="_blank" title="继韩国总理提出警告后 韩立法机构将加密货币交易所运作行为视作未授权融资活动">
                            <img class="left" src="../Image/Article/360658_image7.png" alt="继韩国总理提出警告后 韩立法机构将加密货币交易所运作行为视作未授权融资活动" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/103291.html" target="_blank" title="继韩国总理提出警告后 韩立法机构将加密货币交易所运作行为视作未授权融资活动">继韩国总理提出警告后 韩立法机构将加密货币交易所运作行为视作未授权融资活动</a>
                            </span>
                            <li class="font12 gray8">11小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/103257.html" target="_blank" title="俄罗斯央行发布对加密货币的新警告 可能会导致投资人遭受“重大损失”">
                            <img class="left" src="../Image/Article/360523_image7.png" alt="俄罗斯央行发布对加密货币的新警告 可能会导致投资人遭受“重大损失”" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/103257.html" target="_blank" title="俄罗斯央行发布对加密货币的新警告 可能会导致投资人遭受“重大损失”">俄罗斯央行发布对加密货币的新警告 可能会导致投资人遭受“重大损失”</a>
                            </span>
                            <li class="font12 gray8">12小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/103127.html" target="_blank" title="埃隆·马斯克虽自称不是中本聪 但特斯拉后备箱竟能为采矿设备提供动力">
                            <img class="left" src="../Image/Article/359953_image7.png" alt="埃隆·马斯克虽自称不是中本聪 但特斯拉后备箱竟能为采矿设备提供动力" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/103127.html" target="_blank" title="埃隆·马斯克虽自称不是中本聪 但特斯拉后备箱竟能为采矿设备提供动力">埃隆·马斯克虽自称不是中本聪 但特斯拉后备箱竟能为采矿设备提供动力</a>
                            </span>
                            <li class="font12 gray8">22小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/101704.html" target="_blank" title="对冲基金大佬Griffin称 比特币有郁金香泡沫式的投机狂热因素">
                            <img class="left" src="../Image/Article/353627_image7.png" alt="对冲基金大佬Griffin称 比特币有郁金香泡沫式的投机狂热因素" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/101704.html" target="_blank" title="对冲基金大佬Griffin称 比特币有郁金香泡沫式的投机狂热因素">对冲基金大佬Griffin称 比特币有郁金香泡沫式的投机狂热因素</a>
                            </span>
                            <li class="font12 gray8">2017/11/28 04:41</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/101702.html" target="_blank" title="比特币逼近1万美元大关 拉动相关股票大涨">
                            <img class="left" src="../Image/Article/320076_image7.png" alt="比特币逼近1万美元大关 拉动相关股票大涨" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/101702.html" target="_blank" title="比特币逼近1万美元大关 拉动相关股票大涨">比特币逼近1万美元大关 拉动相关股票大涨</a>
                            </span>
                            <li class="font12 gray8">2017/11/28 04:04</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/101701.html" target="_blank" title="比特币价格破9700美元 业内警示潜在风险">
                            <img class="left" src="../Image/Article/353623_image7.png" alt="比特币价格破9700美元 业内警示潜在风险" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/101701.html" target="_blank" title="比特币价格破9700美元 业内警示潜在风险">比特币价格破9700美元 业内警示潜在风险</a>
                            </span>
                            <li class="font12 gray8">2017/11/28 03:50</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/101578.html" target="_blank" title="疯狂上涨的比特币 将刺激比特币大量分叉丨换个姿势看链圈">
                            <img class="left" src="../Image/Article/318817_image7.png" alt="疯狂上涨的比特币 将刺激比特币大量分叉丨换个姿势看链圈" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/101578.html" target="_blank" title="疯狂上涨的比特币 将刺激比特币大量分叉丨换个姿势看链圈">疯狂上涨的比特币 将刺激比特币大量分叉丨换个姿势看链圈</a>
                            </span>
                            <li class="font12 gray8">2017/11/27 19:40</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/bitcoin/98665.html" target="_blank" title="为什么比特币会被认为是庞氏骗局丨换个姿势看链圈">
                            <img class="left" src="../Image/Article/341316_image7.png" alt="为什么比特币会被认为是庞氏骗局丨换个姿势看链圈" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/bitcoin/98665.html" target="_blank" title="为什么比特币会被认为是庞氏骗局丨换个姿势看链圈">为什么比特币会被认为是庞氏骗局丨换个姿势看链圈</a>
                            </span>
                            <li class="font12 gray8">2017/11/22 21:54</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="http://www.jinse.com/news/bitcoin/97278.html" target="_blank" title="投资比特币的人群中 有75％的人只是跟风才进入市场">
                            <img class="left" src="../Image/Article/335391_image7.png" alt="投资比特币的人群中 有75％的人只是跟风才进入市场" onerror="this.src=&#39;http://resource.jinse.com/phenix/img/nobg.png?v=190&#39;">
                        </a>
                        <ol class="right">
                            <span>
                                <a href="http://www.jinse.com/news/bitcoin/97278.html" target="_blank" title="投资比特币的人群中 有75％的人只是跟风才进入市场">投资比特币的人群中 有75％的人只是跟风才进入市场</a>
                            </span>
                            <li class="font12 gray8">2017/11/21 05:20</li>
                        </ol>
                    </ul>
                </div>
            </div>
        </div>        <!-- 热门标签 -->
        <div class="hotig">
            <div class="banner380x200  marginb">
                <ul>
                    <li class="activity-bg-purple380x200"><span></span><a href="http://www.jinse.com/xueyuan/" target="_blank"><img src="../Image/Article/287923.png" border="0"></a></li>
                </ul>
            </div><div class="tit">
                <ol class="font16 fontw left">热门标签</ol>
                <span class="right"><a href="http://www.jinse.com/tag" target="_blank">全部</a></span>
            </div>
            <div class="con bgc padding clearfix">
                <a href="http://www.jinse.com/tag/%E7%BE%8E%E8%81%94%E5%82%A8" target="_blank" title="美联储">美联储</a>
                <a href="http://www.jinse.com/tag/%E6%97%A5%E5%85%83" target="_blank" title="日元">日元</a>
                <a href="http://www.jinse.com/tag/%E4%BA%BA%E6%B0%91%E5%B8%81" target="_blank" title="人民币">人民币</a>
                <a href="http://www.jinse.com/tag/%E7%BE%8E%E5%85%83" target="_blank" title="美元">美元</a>
                <a href="http://www.jinse.com/tag/%E7%BE%8E%E5%85%83%E6%8C%87%E6%95%B0" target="_blank" title="美元指数">美元指数</a>
                <a href="http://www.jinse.com/tag/%E6%AF%94%E7%89%B9%E5%B8%81" target="_blank" title="比特币">比特币</a>
                <a href="http://www.jinse.com/tag/%E5%A4%96%E6%B1%87" target="_blank" title="外汇">外汇</a>
                <a href="http://www.jinse.com/tag/%E5%B8%82%E5%9C%BA" target="_blank" title="市场">市场</a>
                <a href="http://www.jinse.com/tag/%E5%A4%B4%E6%9D%A1" target="_blank" title="头条">头条</a>
                <a href="http://www.jinse.com/tag/%E7%BE%8E%E5%9B%BD%E5%A4%A7%E9%80%89" target="_blank" title="美国大选">美国大选</a>
                <a href="http://www.jinse.com/tag/%E8%8B%B1%E5%9B%BD%E8%84%B1%E6%AC%A7" target="_blank" title="英国脱欧">英国脱欧</a>
                <a href="http://www.jinse.com/tag/%E5%85%B3%E9%94%AE%E4%BB%B7%E4%BD%8D" target="_blank" title="关键价位">关键价位</a>
                <a href="http://www.jinse.com/tag/%E4%B8%AD%E5%9B%BD%E9%93%B6%E8%A1%8C" target="_blank" title="中国银行">中国银行</a>
                <a href="http://www.jinse.com/tag/%E4%BA%9A%E5%A4%AA%E5%9C%B0" target="_blank" title="亚太地">亚太地</a>
                <a href="http://www.jinse.com/tag/%E6%AC%A7%E6%B4%B2" target="_blank" title="欧洲">欧洲</a>
                <a href="http://www.jinse.com/tag/%E4%BA%9A%E5%A4%AA" target="_blank" title="亚太">亚太</a>
                <a href="http://www.jinse.com/tag/%E6%AC%A7%E5%85%83%E5%8C%BA" target="_blank" title="欧元区">欧元区</a>
                <a href="http://www.jinse.com/tag/%E4%B8%AD%E5%9B%BD%E4%BA%BA%E6%B0%91" target="_blank" title="中国人民">中国人民</a>
                <a href="http://www.jinse.com/tag/%E5%BE%B7%E6%84%8F%E5%BF%97" target="_blank" title="德意志">德意志</a>
                <a href="http://www.jinse.com/tag/%E6%AC%A7%E6%B4%B2%E5%80%BA%E5%B8%82" target="_blank" title="欧洲债市">欧洲债市</a>
            </div>
        </div>
    </div>
</div>
<!-- 文章详情页面包屑 -->
<div class="crumb line22">
    <span class="dian"></span>
    <span><a href="http://www.jinse.com/" target="_blank" title="http://www.jinse.com">金色财经</a></span>

    <span>
        &gt;<a href="http://www.jinse.com/bitcoin" target="_blank" title="http://www.jinse.com/bitcoin">比特币</a>
    </span>

    <span>
        &gt;<a href="http://www.jinse.com/news/bitcoin/101269.html" target="_blank" title="http://www.jinse.com/news/bitcoin/101269.html">重磅！中国比特币第一人杨林科受邀担任比特币钻石中国区顾问</a>
    </span>

</div>


