@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div id="top_g_g_888">

</div>

<div style="
    text-align: center;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-top: -20px;
">
    <a href="http://www.jinse.com/xueyuan/3.html" target="_blank"><img src="../Image/Article/359858.png"></a>
</div>
@RenderBody()
<!-- 文章详情页面包屑 -->
<div class="crumb line22">
    <span class="dian"></span>
    <span><a href="http://www.jinse.com/" target="_blank" title="http://www.jinse.com">金色财经</a></span>

    <span>
        &gt;<a href="http://www.jinse.com/bitcoin" target="_blank" title="http://www.jinse.com/bitcoin">比特币</a>
    </span>

    <span>
        &gt;<a href="http://www.jinse.com/news/bitcoin/101269.html" target="_blank" title="http://www.jinse.com/news/bitcoin/101269.html">重磅！中国比特币第一人杨林科受邀担任比特币钻石中国区顾问</a>
    </span>

</div>


