@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/_LayoutPageArticle.cshtml";
}


<div class="wrap marginb clearfix">
    <div class="wrap marginb clearfix">
        <div class="we marginb">
            
            <div class="service">
                <ul class="font-w">
                    <span></span>关于我们
                </ul>
                <p class="font16">
                    蓝海学院——中国·光谷首家专注于区块链商业普及的权威教育培训机构。全球独创蓝海模式——构建区块链"教育+咨询+培训+资格考试认证+出版发行+媒体+人才就业+孵化创业+研究院"一站式生态圈。
                </p>
                <ul class="font-w">
                    <span></span>服务优势
                </ul>
                <p class="font16">
                    区块链蓝海是多家搜索引擎新闻源合作媒体，并且和和讯、腾讯、猎云、新浪、网易、今日头条、一条新闻等数十家财经及科技媒体达成内容合作。<br>
                    截止到2017年7月，金色财经已有1000余家企业、个人自媒体、行情分析师入驻平台，每日200篇以上的内容输出；<br>
                    近3个月以来，区块链蓝海日均UV(独立访客)12万，日均PV（浏览次数）50万，已成为区块链行业最具影响力的服务平台之一。
                    <!-- <ul class="font-w">
                        <span></span>联系我们
                    </ul> -->
                </p>
                <ul class="font-w">
                    <span></span>版权声明
                </ul>
                <p class="font16">
                    严正声明<br/>
                    1.由于本网站资源是搜集整理而成，版权均归原作者所有。本站仅提供一个观摩学习的环境，将不对任何资源负法律责任。<br />
                    2.若无意中侵犯到您的版权利益，请来信联系我们，我们会在收到信息后会尽快给予处理！<br />
                    3.本站为纯属分享资源站点，网站内所有资源仅供学习交流之用，请勿用作商业用途，并请于下载后24小时内删除，谢谢。<br />
                    4.如有转发本站上的资源，请出转载说明，来源于：www.bluesea360.com，谢谢合作。<br />
                    <br />
                    联系方式：bluesea360@hotmail.com<br />
                    <!-- <ul class="font-w">
            <span></span>联系我们
        </ul> -->
                </p>
                <div class="contact line30 gray5 clearfix">
                    <ol class="left">
                        <li class="font20 font-w">微信号</li>
                        <li class="font16">qukuailianlanhai</li>
                    </ol>
                    <ol class="left">
                        <li class="font20 font-w">邮箱地址</li>
                        <li class="font16">bluesea360@hotmail.com</li>
                    </ol>
                    <ol class="left">
                        <li class="font20 font-w">具体地址</li>
                        <li class="font16">中国 湖北 武汉 光谷</li>
                    </ol>
                </div>
                <div style="width:100%;text-align:center">
                    <img src="~/Image/%e5%9b%be%e7%89%871.png" width="200" height="200" />

                </div>
            </div>
        </div>
    </div>
</div>