@{
    ViewBag.Title = "JiuCaiTong";
    Layout = "~/Views/Shared/_LayoutPageArticle.cshtml";
}

<div class="wrap marginb clearfix">
    <div class="wrapleft marginb left">
        <!-- 频道名称 -->
        <div class="guild marginb bgc padding">
            <ol class="font24 fontw line40">区块链很庞大，韭菜通更懂你</ol>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    韭菜通（jiucai360.com）是由光谷区块链创新产业联盟联合创始单位素数科技公司出品的一款个人区块链云服务产品。注册韭菜通即可领取个人数字资产，更有各类查询功能、知识问答功能为你在区块链领域保驾护航。
                </p>
            </ul>
        </div>

        <div class="guild marginb bgc padding">
            <ol class="font24 fontw line40">韭菜通能为你做什么？</ol>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    —数字资产查询一<br/>
                    “谁知道IOTA是什么币啊？”——韭菜通首页输入数字资产英文简称“IOTA”，即可查到包括发行量、众筹价格、发行时间、总发行量等详细信息，真详细！
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    —交易所精准查询一<br />
                    “交易所名字各式各样怎么查询啊？”——韭菜通“交易所代码”查询，帮你快速查到所需查找的交易所，再也不担心查不到交易所了，真人性！
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    —个人专属钱包地址备忘录一<br />
                    “我又忘记了我的狗狗币地址了！”——韭菜通“个人数字资产收款地址备忘录”高达20个个人数字资产地址备份，和他人转账时无需再繁琐操作了，真方便！
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    —你问我答一<br />
                    “为啥都说辣条买不起了？”——韭菜通“你问我答”，用户可询问区块链各类问题，解答者有偿解答，一起学习区块链，一起发展区块链，真好用！
                </p>
            </ul>
        </div>

        <div class="guild marginb bgc padding">
            <ol class="font24 fontw line40">韭菜通有哪些人再用？</ol>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    非韭菜：从未涉足区块链领域的投资者准备投资区块链领域，将韭菜通作为必备工具；
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    新韭菜：已入区块链领域但了解不多，将韭菜通作为个人学习工具；
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    老韭菜：已在区块链投资领域游刃有余，通过韭菜通APP第一时间查询新上线币种，投资有门路；
                </p>
            </ul>
        </div>
        <div class="guild marginb bgc padding">
            <ol class="font24 fontw line40">为什么要用韭菜通？</ol>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    超过数万区块链投资用户的选择，韭菜通作为一款区块链百科全书，你值得拥有。
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    全新查询模式，人性化操作，良好用户体验，安全放心。
                </p>
            </ul>
            <ul class="clearfix">
                <svg width="14px" height="14px" viewBox="0 0 14 14">
                    <path d="M13.3274522,0 L13.3274522,1.99074157 C12.6997377,2.33150084 12.228959,2.94575505 11.9151017,3.83352262 C11.6012445,4.72129019 11.4443183,5.89151171 11.4443183,7.34422228 L11.4443183,7.96296628 L14,7.96296628 L14,13.935191 L8.02777529,13.935191 L8.02777529,9.46947341 C8.02777529,6.76133395 8.46716881,4.61816964 9.34596903,3.03991618 C10.2247693,1.46166272 11.551917,0.44836746 13.3274522,0 Z M5.29967688,0 L5.29967688,1.99074157 C4.67196244,2.33150084 4.20118367,2.94575505 3.88732644,3.83352262 C3.57346922,4.72129019 3.41654296,5.89151171 3.41654296,7.34422228 L3.41654296,7.96296628 L5.97222471,7.96296628 L5.97222471,13.935191 L0,13.935191 L0,9.46947341 C0,6.76133395 0.43939352,4.61816964 1.31819374,3.03991618 C2.19699396,1.46166272 3.52414174,0.44836746 5.29967688,0 Z" id="“" fill="#888888"></path>
                </svg>
                <p class="line30 right">
                    只要有你想查的，只要有你想问的，韭菜通就能满足你。
                </p>
            </ul>
        </div>
        <div class="guild marginb bgc padding">
            <ol class="font18 fontw line40">韭菜通（jiucai360.com）不仅仅能数字资产、交易平台查询，还可以解决初入区块链领域的投资者各类疑问。一群人，一个APP，一起查询，一起分享，投资区块链从韭菜通开始。</ol>
            </div>
        </div>
    <div class="wrapright right marginb">
        <!-- 右侧banner -->
        <div id="right_g_g_777">

        </div>      
        <!-- 热门新闻 -->
        <div class="hotnews marginb">
            <div class="tit">
                <ol class="font16 fontw left">热门新闻</ol>
            </div>
            <div class="con bgc paddingclearfix">
                <div class="con bgc padding clearfix">
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f116008.html" target="_blank" title="荷兰司法部将于2018年底推出首部“区块链化”的法律">
                            <img class="left" src="http://img.jinse.com/411570_image7.png" alt="荷兰司法部将于2018年底推出首部“区块链化”的法律" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f116008.html" target="_blank" title="荷兰司法部将于2018年底推出首部“区块链化”的法律">荷兰司法部将于2018年底推出首部“区块链化”的法律</a>
                            </span>
                            <li class="font12 gray8">3小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f115949.html" target="_blank" title="南非证券交易所ZAR X正测试区块链技术 2018年公布结果">
                            <img class="left" src="http://img.jinse.com/411354_image7.png" alt="南非证券交易所ZAR X正测试区块链技术 2018年公布结果" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f115949.html" target="_blank" title="南非证券交易所ZAR X正测试区块链技术 2018年公布结果">南非证券交易所ZAR X正测试区块链技术 2018年公布结果</a>
                            </span>
                            <li class="font12 gray8">4小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain_business_news%2f115815.html" target="_blank" title="基于量子链的全球最大区块链通讯社区BeeChat发布新版本 打造区块链生态开放平台">
                            <img class="left" src="http://img.jinse.com/410865_image7.png" alt="基于量子链的全球最大区块链通讯社区BeeChat发布新版本 打造区块链生态开放平台" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain_business_news%2f115815.html" target="_blank" title="基于量子链的全球最大区块链通讯社区BeeChat发布新版本 打造区块链生态开放平台">基于量子链的全球最大区块链通讯社区BeeChat发布新版本 打造区块链生态开放平台</a>
                            </span>
                            <li class="font12 gray8">6小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f115308.html" target="_blank" title="澳大利亚证券交易所正式启动分布式账本技术  取代传统盘后交易清算系统">
                            <img class="left" src="http://img.jinse.com/247787_image7.png" alt="澳大利亚证券交易所正式启动分布式账本技术  取代传统盘后交易清算系统" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f115308.html" target="_blank" title="澳大利亚证券交易所正式启动分布式账本技术  取代传统盘后交易清算系统">澳大利亚证券交易所正式启动分布式账本技术  取代传统盘后交易清算系统</a>
                            </span>
                            <li class="font12 gray8">22小时前</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain%2f115147.html" target="_blank" title="重磅｜朱怀阳、孙泽宇宣布加入比特信仰Bitcoin Faith">
                            <img class="left" src="http://img.jinse.com/408342_image7.png" alt="重磅｜朱怀阳、孙泽宇宣布加入比特信仰Bitcoin Faith" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fnews%2fblockchain%2f115147.html" target="_blank" title="重磅｜朱怀阳、孙泽宇宣布加入比特信仰Bitcoin Faith">重磅｜朱怀阳、孙泽宇宣布加入比特信仰Bitcoin Faith</a>
                            </span>
                            <li class="font12 gray8">2017/12/18 16:53</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f114908.html" target="_blank" title="区块链核心技术公司Parity Technologies声明：可能不会再继续改变以太坊区块链软件">
                            <img class="left" src="http://img.jinse.com/407577_image7.png" alt="区块链核心技术公司Parity Technologies声明：可能不会再继续改变以太坊区块链软件" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f114908.html" target="_blank" title="区块链核心技术公司Parity Technologies声明：可能不会再继续改变以太坊区块链软件">区块链核心技术公司Parity Technologies声明：可能不会再继续改变以太坊区块链软件</a>
                            </span>
                            <li class="font12 gray8">2017/12/18 13:29</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f114335.html" target="_blank" title="首个完整量子芯片架构亮相 一旦技术成熟将威胁区块链网络">
                            <img class="left" src="http://img.jinse.com/405634_image7.png" alt="首个完整量子芯片架构亮相 一旦技术成熟将威胁区块链网络" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f114335.html" target="_blank" title="首个完整量子芯片架构亮相 一旦技术成熟将威胁区块链网络">首个完整量子芯片架构亮相 一旦技术成熟将威胁区块链网络</a>
                            </span>
                            <li class="font12 gray8">2017/12/17 13:40</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f114325.html" target="_blank" title="区块链联盟Hyperledger会员开始逐步削减资金支持 甚至直接退出该组织">
                            <img class="left" src="http://img.jinse.com/405623_image7.png" alt="区块链联盟Hyperledger会员开始逐步削减资金支持 甚至直接退出该组织" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f114325.html" target="_blank" title="区块链联盟Hyperledger会员开始逐步削减资金支持 甚至直接退出该组织">区块链联盟Hyperledger会员开始逐步削减资金支持 甚至直接退出该组织</a>
                            </span>
                            <li class="font12 gray8">2017/12/17 13:20</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f114306.html" target="_blank" title="法国允许在区块链平台上交易非上市证券 欲借英国脱欧之机成为欧洲新金融中心">
                            <img class="left" src="http://img.jinse.com/405589_image7.png" alt="法国允许在区块链平台上交易非上市证券 欲借英国脱欧之机成为欧洲新金融中心" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f114306.html" target="_blank" title="法国允许在区块链平台上交易非上市证券 欲借英国脱欧之机成为欧洲新金融中心">法国允许在区块链平台上交易非上市证券 欲借英国脱欧之机成为欧洲新金融中心</a>
                            </span>
                            <li class="font12 gray8">2017/12/17 12:36</li>
                        </ol>
                    </ul>
                    <ul class="clearfix">
                        <a href="/Article/Index?hs=%2fblockchain%2f114149.html" target="_blank" title="墨西哥政府确认ICO违法 但立法者对数字货币总体态度较为温和">
                            <img class="left" src="http://img.jinse.com/405058_image7.png" alt="墨西哥政府确认ICO违法 但立法者对数字货币总体态度较为温和" onerror="this.src='http://resource.jinse.com/phenix/img/nobg.png?v=231'">
                        </a>
                        <ol class="right">
                            <span>
                                <a class="hot-news-txt" href="/Article/Index?hs=%2fblockchain%2f114149.html" target="_blank" title="墨西哥政府确认ICO违法 但立法者对数字货币总体态度较为温和">墨西哥政府确认ICO违法 但立法者对数字货币总体态度较为温和</a>
                            </span>
                            <li class="font12 gray8">2017/12/16 21:20</li>
                        </ol>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 新闻排行 -->
        <div class="ranking marginb">
            <div class="tit">
                <ol class="font16 fontw left">新闻排行</ol>
            </div>
            <div class="con bgc padding line22 clearfix">
                <ul class="clearfix">
                    <li class="font16 center  red  left sz">1</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain%2f113649.html" target="_blank" title="Acute Angle cloud创始人高胜利：全球首台基于区块链技术的电脑-三角形矿机横空出世 分布式云生态将与阿里、亚马逊比肩 | 独家专访">Acute Angle cloud创始人高胜利：全球首台基于区块链技术的电脑-三角形矿机横空出世 分布式云生态将与阿里、亚马逊比肩 | 独家专访</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  red  left sz">2</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fblockchain%2f113592.html" target="_blank" title="Acute Angle Cloud完成千万美金融资  众多资本基金及区块链资深投资人参投">Acute Angle Cloud完成千万美金融资  众多资本基金及区块链资深投资人参投</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  red  left sz">3</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain_markets_news%2f112836.html" target="_blank" title="全球最大主权基金涉足区块链 首笔投资为何钟情Ink">全球最大主权基金涉足区块链 首笔投资为何钟情Ink</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">4</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fblockchain%2f113568.html" target="_blank" title="千合资本与巨人网络入股欧凯联创  看看国内比特币身后的风投们">千合资本与巨人网络入股欧凯联创  看看国内比特币身后的风投们</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">5</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fblockchain%2f112788.html" target="_blank" title="暴风两个涨停后“播酷云”创始人减持  减持股票市值超过1600万">暴风两个涨停后“播酷云”创始人减持  减持股票市值超过1600万</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">6</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain%2f112855.html" target="_blank" title="黑派科技CEO郭鹏举：研发下一代区块链技术  打造价值网络入口 | 独家专访">黑派科技CEO郭鹏举：研发下一代区块链技术  打造价值网络入口 | 独家专访</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">7</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain%2f112921.html" target="_blank" title="梓岑：一个正在加速进化和商用需求井喷的BitShares | 独家专访">梓岑：一个正在加速进化和商用需求井喷的BitShares | 独家专访</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">8</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain%2f113490.html" target="_blank" title="OKEX宣布完成数千万美元融资  巨人网络等多家集团公司参投">OKEX宣布完成数千万美元融资  巨人网络等多家集团公司参投</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">9</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain%2f113449.html" target="_blank" title="比特币用户捐赠5057个BTC设立凤梨基金  支持慈善事业">比特币用户捐赠5057个BTC设立凤梨基金  支持慈善事业</a>
                    </li>
                </ul>
                <ul class="clearfix">
                    <li class="font16 center  gray8  left sz">10</li>
                    <li class="left biaot">
                        <a href="/Article/Index?hs=%2fnews%2fblockchain_tech%2f112846.html" target="_blank" title="Hacken联合创始人Dmytro Budorin与Vladimir Taratushka：我们要成为网络安全的阿里巴巴 | 独家专访">Hacken联合创始人Dmytro Budorin与Vladimir Taratushka：我们要成为网络安全的阿里巴巴 | 独家专访</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>