@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="top_g_g_888">
</div>
<div class="rankings">
    <div class="bx">
        <h4>
            <strong>数字货币 市值TOP 100</strong>
            <a href="javascript:void(0);" class="tabs">人民币</a><span class="tas"></span>
            <ul class="selectss">
                <li><a class="select-currency" data-type="CNY" href="javascript:void(0);">人民币</a></li>
                <li><a class="select-currency" data-type="USD" href="javascript:void(0);">美元</a></li>
                <li><a class="select-currency" data-type="KRW" href="javascript:void(0);">韩元</a></li>
            </ul>
        </h4>
        <p>据统计，全球数字货币已超过800种，下面是币值排名前100的数字货币数据与占比。</p>
        <ul class="f">
            <li>
                <h3 id="total-money">￥20,222.92</h3>
                <p>TOP100 总市值（亿)</p>
            </li>
            <li>
                <div class="ranking-shuju">
                    <span class="hong">1</span>
                    <p class="first-currency">BTC-比特币 /￥11,111.15亿 54.94%</p>
                </div>
                <div class="ranking-shuju">
                    <span class="huang">2</span>
                    <p class="second-currency">ETH-以太坊 /￥3,025.89亿 14.96%</p>
                </div>
                <div class="ranking-shuju">
                    <span class="huang">3</span>
                    <p class="third-currency">XRP-瑞波币 /￥702.93亿 3.48%</p>
                </div>
                <div class="ranking-shuju">
                    <span class="huang">4</span>
                    <p class="fourth-currency">OTHER-其他 /￥5,382.96亿 26.62%</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="ranking-content">
    <div class="bx">
        <ul class="f" id="body-html">
            <li class="baise">
                <ul class="f">
                    <li class="tubiao"></li>
                    <li class="bz">币种</li>
                    <li class="sz">市值(亿)</li>
                    <li class="jg">价格</li>
                    <li class="lt">流通数量</li>
                    <li class="cj">24小时成交额</li>
                    <li class="zf">24小时涨幅</li>
                    <li class="fx">发行总量</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">1</li>
                    <li class="bz"><span class="s-s-bitcoin"></span>Bitcoin</li>
                    <li class="sz">￥11,111.15亿</li>
                    <li class="jg hong">￥66,507.51&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">1,670.66万</li>
                    <li class="cj">￥393.23亿</li>
                    <li class="zf hong">3.37%</li>
                    <li class="fx">2,100万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">2</li>
                    <li class="bz"><span class="s-s-ethereum"></span>Ethereum</li>
                    <li class="sz">￥3,025.89亿</li>
                    <li class="jg lv">￥3,151.72&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">9,600.72万</li>
                    <li class="cj">￥85.50亿</li>
                    <li class="zf lv">-1.46%</li>
                    <li class="fx">9,407万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">3</li>
                    <li class="bz"><span class="s-s-bitcoin-cash"></span>Bitcoin Cash</li>
                    <li class="sz">￥1,762.67亿</li>
                    <li class="jg lv">￥10,475.33&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">1,682.69万</li>
                    <li class="cj">￥85.67亿</li>
                    <li class="zf lv">-4.48%</li>
                    <li class="fx">2,100万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">4</li>
                    <li class="bz"><span class="s-s-ripple"></span>Ripple</li>
                    <li class="sz">￥702.93亿</li>
                    <li class="jg hong">￥1.81&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">3,862,287.04万</li>
                    <li class="cj">￥31.61亿</li>
                    <li class="zf hong">8.98%</li>
                    <li class="fx">10,000,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">5</li>
                    <li class="bz"><span class="s-s-bitcoin-gold"></span>Bitcoin Gold</li>
                    <li class="sz">￥378.12亿</li>
                    <li class="jg lv">￥2,267.37&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">1,667.64万</li>
                    <li class="cj">￥6.41亿</li>
                    <li class="zf lv">-5.46%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">6</li>
                    <li class="bz"><span class="s-s-litecoin"></span>Litecoin</li>
                    <li class="sz">￥332.03亿</li>
                    <li class="jg hong">￥614.47&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">5,403.41万</li>
                    <li class="cj">￥23.83亿</li>
                    <li class="zf hong">1.91%</li>
                    <li class="fx">8,400万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">7</li>
                    <li class="bz"><span class="s-s-dash"></span>Dash</li>
                    <li class="sz">￥318.34亿</li>
                    <li class="jg lv">￥4,125.92&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">771.56万</li>
                    <li class="cj">￥9.31亿</li>
                    <li class="zf lv">-1.46%</li>
                    <li class="fx">1,890万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">8</li>
                    <li class="bz"><span class="s-s-ethereum-classic"></span>Ethereum Classic</li>
                    <li class="sz">￥223.77亿</li>
                    <li class="jg hong">￥228.61&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">9,788.01万</li>
                    <li class="cj">￥122.08亿</li>
                    <li class="zf hong">37.54%</li>
                    <li class="fx">9,463万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">9</li>
                    <li class="bz"><span class="s-s-iota"></span>IOTA</li>
                    <li class="sz">￥223.09亿</li>
                    <li class="jg hong">￥8.02&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">277,953.03万</li>
                    <li class="cj">￥17.94亿</li>
                    <li class="zf hong">26.46%</li>
                    <li class="fx">277,953万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">10</li>
                    <li class="bz"><span class="s-s-monero"></span>Monero</li>
                    <li class="sz">￥190.32亿</li>
                    <li class="jg hong">￥1,235.01&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">1,541.05万</li>
                    <li class="cj">￥8.97亿</li>
                    <li class="zf hong">13.20%</li>
                    <li class="fx">1,495万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">11</li>
                    <li class="bz"><span class="s-s-neo"></span>NEO</li>
                    <li class="sz">￥165.32亿</li>
                    <li class="jg lv">￥254.34&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">6,500.00万</li>
                    <li class="cj">￥5.00亿</li>
                    <li class="zf lv">-3.48%</li>
                    <li class="fx">1,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">12</li>
                    <li class="bz"><span class="s-s-nem"></span>NEM</li>
                    <li class="sz">￥138.26亿</li>
                    <li class="jg hong">￥1.53&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">900,000.00万</li>
                    <li class="cj">￥1.67亿</li>
                    <li class="zf hong">5.40%</li>
                    <li class="fx">900,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">13</li>
                    <li class="bz"><span class="s-s-cardano"></span>Cardano</li>
                    <li class="sz">￥125.09亿</li>
                    <li class="jg hong">￥0.48&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">2,592,707.05万</li>
                    <li class="cj">￥5.03亿</li>
                    <li class="zf hong">52.70%</li>
                    <li class="fx">4,500,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">14</li>
                    <li class="bz"><span class="s-s-eos"></span>EOS</li>
                    <li class="sz">￥96.05亿</li>
                    <li class="jg hong">￥19.02&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">50,475.49万</li>
                    <li class="cj">￥7.35亿</li>
                    <li class="zf hong">3.06%</li>
                    <li class="fx">100,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">15</li>
                    <li class="bz"><span class="s-s-qtum"></span>Qtum</li>
                    <li class="sz">￥75.23亿</li>
                    <li class="jg hong">￥102.08&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">7,369.41万</li>
                    <li class="cj">￥17.29亿</li>
                    <li class="zf hong">4.71%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">16</li>
                    <li class="bz"><span class="s-s-stellar-lumens"></span>Stellar Lumens</li>
                    <li class="sz">￥71.54亿</li>
                    <li class="jg hong">￥0.40&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">1,772,356.07万</li>
                    <li class="cj">￥4.42亿</li>
                    <li class="zf hong">17.84%</li>
                    <li class="fx">10,317,628万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">17</li>
                    <li class="bz"><span class="s-s-zcash"></span>Zcash</li>
                    <li class="sz">￥64.17亿</li>
                    <li class="jg hong">￥2,360.26&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">271.86万</li>
                    <li class="cj">￥8.02亿</li>
                    <li class="zf hong">5.13%</li>
                    <li class="fx">198万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">18</li>
                    <li class="bz"><span class="s-s-omisego"></span>OmiseGO</li>
                    <li class="sz">￥63.15亿</li>
                    <li class="jg hong">￥61.88&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">10,204.26万</li>
                    <li class="cj">￥4.13亿</li>
                    <li class="zf hong">2.92%</li>
                    <li class="fx">14,025万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">19</li>
                    <li class="bz"><span class="s-s-lisk"></span>Lisk</li>
                    <li class="sz">￥61.04亿</li>
                    <li class="jg hong">￥52.90&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">11,537.34万</li>
                    <li class="cj">￥1.89亿</li>
                    <li class="zf hong">3.51%</li>
                    <li class="fx">11,106万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">20</li>
                    <li class="bz"><span class="s-s-hshare"></span>Hshare</li>
                    <li class="sz">￥54.54亿</li>
                    <li class="jg lv">￥128.90&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">4,230.58万</li>
                    <li class="cj">￥4.25亿</li>
                    <li class="zf lv">-0.59%</li>
                    <li class="fx">8,400万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">21</li>
                    <li class="bz"><span class="s-s-tether"></span>Tether</li>
                    <li class="sz">￥44.82亿</li>
                    <li class="jg lv">￥6.64&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">67,496.78万</li>
                    <li class="cj">￥52.09亿</li>
                    <li class="zf lv">-0.17%</li>
                    <li class="fx">3,250万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">22</li>
                    <li class="bz"><span class="s-s-stellar"></span>Stellar</li>
                    <li class="sz">￥44.00亿</li>
                    <li class="jg hong">￥0.24&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">1,771,517.59万</li>
                    <li class="cj">￥1.35亿</li>
                    <li class="zf hong">3.40%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">23</li>
                    <li class="bz"><span class="s-s-bitconnect"></span>BitConnect</li>
                    <li class="sz">￥41.38亿</li>
                    <li class="jg lv">￥1,935.19&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">213.81万</li>
                    <li class="cj">￥1.65亿</li>
                    <li class="zf lv">-2.33%</li>
                    <li class="fx">2,100万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">24</li>
                    <li class="bz"><span class="s-s-waves"></span>Waves</li>
                    <li class="sz">￥38.47亿</li>
                    <li class="jg hong">￥38.47&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">10,000.00万</li>
                    <li class="cj">￥1.60亿</li>
                    <li class="zf hong">1.27%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">25</li>
                    <li class="bz"><span class="s-s-stratis"></span>Stratis</li>
                    <li class="sz">￥35.09亿</li>
                    <li class="jg hong">￥35.57&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">9,863.97万</li>
                    <li class="cj">￥1.54亿</li>
                    <li class="zf hong">8.29%</li>
                    <li class="fx">9,851万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">26</li>
                    <li class="bz"><span class="s-s-populous"></span>Populous</li>
                    <li class="sz">￥27.12亿</li>
                    <li class="jg lv">￥65.73&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">4,125.22万</li>
                    <li class="cj">￥0.07亿</li>
                    <li class="zf lv">-13.23%</li>
                    <li class="fx">5,325万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">27</li>
                    <li class="bz"><span class="s-s-bitshares"></span>BitShares</li>
                    <li class="sz">￥26.82亿</li>
                    <li class="jg hong">￥1.03&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">260,297.00万</li>
                    <li class="cj">￥2.94亿</li>
                    <li class="zf hong">6.85%</li>
                    <li class="fx">259,926万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">28</li>
                    <li class="bz"><span class="s-s-ark"></span>Ark</li>
                    <li class="sz">￥22.87亿</li>
                    <li class="jg lv">￥23.34&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">9,798.13万</li>
                    <li class="cj">￥0.81亿</li>
                    <li class="zf lv">-2.93%</li>
                    <li class="fx">12,821万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">29</li>
                    <li class="bz"><span class="s-s-monacoin"></span>MonaCoin</li>
                    <li class="sz">￥22.82亿</li>
                    <li class="jg hong">￥41.01&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">5,564.09万</li>
                    <li class="cj">￥4.51亿</li>
                    <li class="zf hong">8.84%</li>
                    <li class="fx">5,330万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">30</li>
                    <li class="bz"><span class="s-s-decred"></span>Decred</li>
                    <li class="sz">￥22.43亿</li>
                    <li class="jg lv">￥358.86&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">625.10万</li>
                    <li class="cj">￥0.53亿</li>
                    <li class="zf lv">-6.71%</li>
                    <li class="fx">598万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">31</li>
                    <li class="bz"><span class="s-s-ardor"></span>Ardor</li>
                    <li class="sz">￥22.18亿</li>
                    <li class="jg lv">￥2.22&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">99,899.95万</li>
                    <li class="cj">￥0.19亿</li>
                    <li class="zf lv">-0.38%</li>
                    <li class="fx">99,900万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">32</li>
                    <li class="bz"><span class="s-s-bytecoin"></span>Bytecoin</li>
                    <li class="sz">￥21.67亿</li>
                    <li class="jg hong">￥0.01&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">18,325,353.46万</li>
                    <li class="cj">￥0.20亿</li>
                    <li class="zf hong">8.13%</li>
                    <li class="fx">18,447,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">33</li>
                    <li class="bz"><span class="s-s-komodo"></span>Komodo</li>
                    <li class="sz">￥21.05亿</li>
                    <li class="jg lv">￥20.31&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">10,363.29万</li>
                    <li class="cj">￥0.54亿</li>
                    <li class="zf lv">-3.87%</li>
                    <li class="fx">10,095万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">34</li>
                    <li class="bz"><span class="s-s-augur"></span>Augur</li>
                    <li class="sz">￥20.79亿</li>
                    <li class="jg hong">￥188.97&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">1,100.00万</li>
                    <li class="cj">￥0.26亿</li>
                    <li class="zf hong">2.73%</li>
                    <li class="fx">1,100万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">35</li>
                    <li class="bz"><span class="s-s-golem"></span>Golem</li>
                    <li class="sz">￥18.91亿</li>
                    <li class="jg hong">￥2.26&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">83,303.20万</li>
                    <li class="cj">￥1.13亿</li>
                    <li class="zf hong">9.00%</li>
                    <li class="fx">100,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">36</li>
                    <li class="bz"><span class="s-s-steem"></span>Steem</li>
                    <li class="sz">￥18.73亿</li>
                    <li class="jg hong">￥7.59&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">24,670.23万</li>
                    <li class="cj">￥0.37亿</li>
                    <li class="zf hong">2.83%</li>
                    <li class="fx">25,673万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">37</li>
                    <li class="bz"><span class="s-s-tenx"></span>TenX</li>
                    <li class="sz">￥17.19亿</li>
                    <li class="jg hong">￥16.42&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">10,466.13万</li>
                    <li class="cj">￥0.76亿</li>
                    <li class="zf hong">9.82%</li>
                    <li class="fx">20,522万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">38</li>
                    <li class="bz"><span class="s-s-maidsafecoin"></span>MaidSafeCoin</li>
                    <li class="sz">￥15.85亿</li>
                    <li class="jg hong">￥3.50&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">45,255.24万</li>
                    <li class="cj">￥0.17亿</li>
                    <li class="zf hong">8.57%</li>
                    <li class="fx">45,255万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">39</li>
                    <li class="bz"><span class="s-s-pivx"></span>PIVX</li>
                    <li class="sz">￥15.48亿</li>
                    <li class="jg hong">￥28.14&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">5,501.48万</li>
                    <li class="cj">￥1.57亿</li>
                    <li class="zf hong">13.99%</li>
                    <li class="fx">5,409万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">40</li>
                    <li class="bz"><span class="s-s-raiden-network-token"></span>Raiden Network Token</li>
                    <li class="sz">￥15.32亿</li>
                    <li class="jg lv">￥30.63&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">5,000.00万</li>
                    <li class="cj">￥1.34亿</li>
                    <li class="zf lv">-9.91%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">41</li>
                    <li class="bz"><span class="s-s-digixdao"></span>DigixDAO</li>
                    <li class="sz">￥15.25亿</li>
                    <li class="jg hong">￥762.29&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">200.00万</li>
                    <li class="cj">￥0.58亿</li>
                    <li class="zf hong">4.19%</li>
                    <li class="fx">200万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">42</li>
                    <li class="bz"><span class="s-s-power-ledger"></span>Power Ledger</li>
                    <li class="sz">￥14.98亿</li>
                    <li class="jg lv">￥4.26&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">35,108.87万</li>
                    <li class="cj">￥3.06亿</li>
                    <li class="zf lv">-6.65%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">43</li>
                    <li class="bz"><span class="s-s-dogecoin"></span>Dogecoin</li>
                    <li class="sz">￥14.96亿</li>
                    <li class="jg hong">￥0.01&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">11,211,646.85万</li>
                    <li class="cj">￥0.35亿</li>
                    <li class="zf hong">2.66%</li>
                    <li class="fx">11,068,644万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">44</li>
                    <li class="bz"><span class="s-s-exchange-union"></span>Exchange Union</li>
                    <li class="sz">￥14.78亿</li>
                    <li class="jg hong">￥59.60&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">2,479.85万</li>
                    <li class="cj">￥0.22亿</li>
                    <li class="zf hong">1.64%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">45</li>
                    <li class="bz"><span class="s-s-vertcoin"></span>Vertcoin</li>
                    <li class="sz">￥14.72亿</li>
                    <li class="jg hong">￥35.37&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">4,160.90万</li>
                    <li class="cj">￥0.55亿</li>
                    <li class="zf hong">0.98%</li>
                    <li class="fx">8,400万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">46</li>
                    <li class="bz"><span class="s-s-factom"></span>Factom</li>
                    <li class="sz">￥13.91亿</li>
                    <li class="jg hong">￥159.03&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">874.51万</li>
                    <li class="cj">￥0.43亿</li>
                    <li class="zf hong">6.87%</li>
                    <li class="fx">875万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">47</li>
                    <li class="bz"><span class="s-s-salt"></span>SALT</li>
                    <li class="sz">￥13.80亿</li>
                    <li class="jg lv">￥28.02&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">4,924.13万</li>
                    <li class="cj">￥0.38亿</li>
                    <li class="zf lv">-1.74%</li>
                    <li class="fx">12,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">48</li>
                    <li class="bz"><span class="s-s-electroneum"></span>Electroneum</li>
                    <li class="sz">￥13.41亿</li>
                    <li class="jg lv">￥0.25&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">519,526.21万</li>
                    <li class="cj">￥0.05亿</li>
                    <li class="zf lv">-6.57%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">49</li>
                    <li class="bz"><span class="s-s-veritaseum"></span>Veritaseum</li>
                    <li class="sz">￥13.15亿</li>
                    <li class="jg hong">￥649.23&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">202.60万</li>
                    <li class="cj">￥0.08亿</li>
                    <li class="zf hong">2.97%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">50</li>
                    <li class="bz"><span class="s-s-nxt"></span>Nxt</li>
                    <li class="sz">￥12.85亿</li>
                    <li class="jg lv">￥1.28&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">99,899.99万</li>
                    <li class="cj">￥2.55亿</li>
                    <li class="zf lv">-5.60%</li>
                    <li class="fx">100,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">51</li>
                    <li class="bz"><span class="s-s-siacoin"></span>Siacoin</li>
                    <li class="sz">￥12.71亿</li>
                    <li class="jg hong">￥0.04&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">3,120,263.81万</li>
                    <li class="cj">￥0.28亿</li>
                    <li class="zf hong">2.53%</li>
                    <li class="fx">2,867,472万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">52</li>
                    <li class="bz"><span class="s-s-basic-attention-token"></span>Basic Attention Token</li>
                    <li class="sz">￥12.60亿</li>
                    <li class="jg hong">￥1.25&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">100,000.00万</li>
                    <li class="cj">￥0.28亿</li>
                    <li class="zf hong">3.60%</li>
                    <li class="fx">150,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">53</li>
                    <li class="bz"><span class="s-s-gas"></span>Gas</li>
                    <li class="sz">￥12.59亿</li>
                    <li class="jg lv">￥146.47&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">859.70万</li>
                    <li class="cj">￥0.10亿</li>
                    <li class="zf lv">-0.37%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">54</li>
                    <li class="bz"><span class="s-s-binance-coin"></span>Binance Coin</li>
                    <li class="sz">￥12.53亿</li>
                    <li class="jg hong">￥12.65&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">9,901.40万</li>
                    <li class="cj">￥2.03亿</li>
                    <li class="zf hong">5.29%</li>
                    <li class="fx">20,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">55</li>
                    <li class="bz"><span class="s-s-byteball-bytes"></span>Byteball Bytes</li>
                    <li class="sz">￥11.73亿</li>
                    <li class="jg lv">￥1,818.18&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">64.52万</li>
                    <li class="cj">￥0.06亿</li>
                    <li class="zf lv">-4.01%</li>
                    <li class="fx">100万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">56</li>
                    <li class="bz"><span class="s-s-bitcoindark"></span>BitcoinDark</li>
                    <li class="sz">￥11.46亿</li>
                    <li class="jg lv">￥888.93&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">128.89万</li>
                    <li class="cj">￥0.02亿</li>
                    <li class="zf lv">-5.99%</li>
                    <li class="fx">129万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">57</li>
                    <li class="bz"><span class="s-s-syscoin"></span>Syscoin</li>
                    <li class="sz">￥10.78亿</li>
                    <li class="jg lv">￥2.03&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">52,917.82万</li>
                    <li class="cj">￥0.79亿</li>
                    <li class="zf lv">-6.80%</li>
                    <li class="fx">88,800万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">58</li>
                    <li class="bz"><span class="s-s-kyber-network"></span>Kyber Network</li>
                    <li class="sz">￥10.77亿</li>
                    <li class="jg lv">￥8.02&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">13,413.27万</li>
                    <li class="cj">￥0.48亿</li>
                    <li class="zf lv">-3.49%</li>
                    <li class="fx">22,600万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">59</li>
                    <li class="bz"><span class="s-s-tron"></span>TRON</li>
                    <li class="sz">￥10.22亿</li>
                    <li class="jg hong">￥0.01&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">6,574,819.25万</li>
                    <li class="cj">￥0.40亿</li>
                    <li class="zf hong">13.93%</li>
                    <li class="fx">10,000,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">60</li>
                    <li class="bz"><span class="s-s-iconomi"></span>Iconomi</li>
                    <li class="sz">￥10.12亿</li>
                    <li class="jg lv">￥10.13&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">9,978.83万</li>
                    <li class="cj">￥0.09亿</li>
                    <li class="zf lv">-8.02%</li>
                    <li class="fx">9,990万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">61</li>
                    <li class="bz"><span class="s-s-bitquence"></span>Bitquence</li>
                    <li class="sz">￥9.68亿</li>
                    <li class="jg hong">￥12.98&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">7,452.61万</li>
                    <li class="cj">￥0.66亿</li>
                    <li class="zf hong">41.45%</li>
                    <li class="fx">22,230万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">62</li>
                    <li class="bz"><span class="s-s-walton"></span>Walton</li>
                    <li class="sz">￥9.16亿</li>
                    <li class="jg hong">￥36.79&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">2,489.82万</li>
                    <li class="cj">￥2.25亿</li>
                    <li class="zf hong">12.35%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">63</li>
                    <li class="bz"><span class="s-s-gamecredits"></span>GameCredits</li>
                    <li class="sz">￥9.04亿</li>
                    <li class="jg lv">￥14.04&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">6,435.54万</li>
                    <li class="cj">￥0.15亿</li>
                    <li class="zf lv">-1.71%</li>
                    <li class="fx">6,386万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">64</li>
                    <li class="bz"><span class="s-s-zcoin"></span>ZCoin</li>
                    <li class="sz">￥9.02亿</li>
                    <li class="jg hong">￥254.93&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">353.76万</li>
                    <li class="cj">￥0.49亿</li>
                    <li class="zf hong">1.07%</li>
                    <li class="fx">280万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">65</li>
                    <li class="bz"><span class="s-s-metaverse-etp"></span>Metaverse ETP</li>
                    <li class="sz">￥8.92亿</li>
                    <li class="jg hong">￥24.44&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">3,648.80万</li>
                    <li class="cj">￥0.37亿</li>
                    <li class="zf hong">0.44%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">66</li>
                    <li class="bz"><span class="s-s-aeternity"></span>Aeternity</li>
                    <li class="sz">￥8.56亿</li>
                    <li class="jg lv">￥3.67&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">23,302.05万</li>
                    <li class="cj">￥0.10亿</li>
                    <li class="zf lv">-3.01%</li>
                    <li class="fx">27,369万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">67</li>
                    <li class="bz"><span class="s-s-bytom"></span>Bytom</li>
                    <li class="sz">￥8.51亿</li>
                    <li class="jg hong">￥0.86&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">98,700.00万</li>
                    <li class="cj">￥0.11亿</li>
                    <li class="zf hong">1.18%</li>
                    <li class="fx">210,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">68</li>
                    <li class="bz"><span class="s-s-status"></span>Status</li>
                    <li class="sz">￥8.50亿</li>
                    <li class="jg lv">￥0.24&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">347,048.38万</li>
                    <li class="cj">￥0.33亿</li>
                    <li class="zf lv">-6.20%</li>
                    <li class="fx">680,487万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">69</li>
                    <li class="bz"><span class="s-s-gnosis"></span>Gnosis</li>
                    <li class="sz">￥8.35亿</li>
                    <li class="jg lv">￥756.17&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">110.46万</li>
                    <li class="cj">￥0.23亿</li>
                    <li class="zf lv">-4.85%</li>
                    <li class="fx">1,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">70</li>
                    <li class="bz"><span class="s-s-bitqy"></span>bitqy</li>
                    <li class="sz">￥8.17亿</li>
                    <li class="jg hong">￥0.35&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">230,775.92万</li>
                    <li class="cj">￥0.03亿</li>
                    <li class="zf hong">435.65%</li>
                    <li class="fx">1,000,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">71</li>
                    <li class="bz"><span class="s-s-ethos"></span>Ethos</li>
                    <li class="sz">￥8.00亿</li>
                    <li class="jg lv">￥10.73&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">7,452.62万</li>
                    <li class="cj">￥0.12亿</li>
                    <li class="zf lv">-2.25%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">72</li>
                    <li class="bz"><span class="s-s-civic"></span>Civic</li>
                    <li class="sz">￥7.95亿</li>
                    <li class="jg hong">￥2.32&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">34,270.00万</li>
                    <li class="cj">￥0.25亿</li>
                    <li class="zf hong">0.30%</li>
                    <li class="fx">100,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">73</li>
                    <li class="bz"><span class="s-s-blocknet"></span>Blocknet</li>
                    <li class="sz">￥7.90亿</li>
                    <li class="jg lv">￥161.04&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">490.42万</li>
                    <li class="cj">￥0.03亿</li>
                    <li class="zf lv">-1.99%</li>
                    <li class="fx">1,009万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">74</li>
                    <li class="bz"><span class="s-s-gxshares"></span>GXShares</li>
                    <li class="sz">￥7.89亿</li>
                    <li class="jg lv">￥19.47&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">4,051.00万</li>
                    <li class="cj">￥0.75亿</li>
                    <li class="zf lv">-0.81%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">75</li>
                    <li class="bz"><span class="s-s-0x"></span>0x</li>
                    <li class="sz">￥7.54亿</li>
                    <li class="jg hong">￥1.50&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">50,000.00万</li>
                    <li class="cj">￥0.22亿</li>
                    <li class="zf hong">4.59%</li>
                    <li class="fx">100,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">76</li>
                    <li class="bz"><span class="s-s-digibyte"></span>DigiByte</li>
                    <li class="sz">￥7.31亿</li>
                    <li class="jg hong">￥0.07&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">947,210.57万</li>
                    <li class="cj">￥0.40亿</li>
                    <li class="zf hong">7.09%</li>
                    <li class="fx">874,225万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">77</li>
                    <li class="bz"><span class="s-s-bancor"></span>Bancor</li>
                    <li class="sz">￥7.15亿</li>
                    <li class="jg lv">￥17.53&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">4,077.29万</li>
                    <li class="cj">￥0.24亿</li>
                    <li class="zf lv">-1.98%</li>
                    <li class="fx">7,938万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">78</li>
                    <li class="bz"><span class="s-s-metal"></span>Metal</li>
                    <li class="sz">￥7.09亿</li>
                    <li class="jg lv">￥36.74&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">1,930.10万</li>
                    <li class="cj">￥0.53亿</li>
                    <li class="zf lv">-1.61%</li>
                    <li class="fx">7,693万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">79</li>
                    <li class="bz"><span class="s-s-funfair"></span>FunFair</li>
                    <li class="sz">￥6.89亿</li>
                    <li class="jg hong">￥0.16&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">424,987.36万</li>
                    <li class="cj">￥0.09亿</li>
                    <li class="zf hong">6.19%</li>
                    <li class="fx">1,717,370万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">80</li>
                    <li class="bz"><span class="s-s-pura"></span>Pura</li>
                    <li class="sz">￥6.86亿</li>
                    <li class="jg lv">￥3.99&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">17,189.17万</li>
                    <li class="cj">￥0.02亿</li>
                    <li class="zf lv">-10.08%</li>
                    <li class="fx">35,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">81</li>
                    <li class="bz"><span class="s-s-cryptonex"></span>Cryptonex</li>
                    <li class="sz">￥6.80亿</li>
                    <li class="jg hong">￥15.12&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">4,498.52万</li>
                    <li class="cj">￥0.01亿</li>
                    <li class="zf hong">10.11%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">82</li>
                    <li class="bz"><span class="s-s-einsteinium"></span>Einsteinium</li>
                    <li class="sz">￥6.23亿</li>
                    <li class="jg lv">￥2.88&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">21,605.08万</li>
                    <li class="cj">￥1.97亿</li>
                    <li class="zf lv">-7.89%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">83</li>
                    <li class="bz"><span class="s-s-verge"></span>Verge</li>
                    <li class="sz">￥6.15亿</li>
                    <li class="jg lv">￥0.04&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">1,432,101.93万</li>
                    <li class="cj">￥0.21亿</li>
                    <li class="zf lv">-3.71%</li>
                    <li class="fx">1,655,500万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">84</li>
                    <li class="bz"><span class="s-s-singulardtv"></span>SingularDTV</li>
                    <li class="sz">￥5.92亿</li>
                    <li class="jg lv">￥0.98&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">60,000.00万</li>
                    <li class="cj">￥0.10亿</li>
                    <li class="zf lv">-4.26%</li>
                    <li class="fx">100,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">85</li>
                    <li class="bz"><span class="s-s-b3coin"></span>B3Coin</li>
                    <li class="sz">￥5.84亿</li>
                    <li class="jg hong">￥0.00&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">35,701,689.32万</li>
                    <li class="cj">￥0.03亿</li>
                    <li class="zf hong">4.79%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">86</li>
                    <li class="bz"><span class="s-s-lykke"></span>Lykke</li>
                    <li class="sz">￥5.84亿</li>
                    <li class="jg lv">￥2.21&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">26,306.08万</li>
                    <li class="cj">￥0.01亿</li>
                    <li class="zf lv">-1.27%</li>
                    <li class="fx">128,569万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">87</li>
                    <li class="bz"><span class="s-s-quantstamp"></span>Quantstamp</li>
                    <li class="sz">￥5.51亿</li>
                    <li class="jg lv">￥0.89&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">61,731.42万</li>
                    <li class="cj">￥1.45亿</li>
                    <li class="zf lv">-13.49%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">88</li>
                    <li class="bz"><span class="s-s-smartcash"></span>SmartCash</li>
                    <li class="sz">￥5.45亿</li>
                    <li class="jg hong">￥0.63&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">85,703.09万</li>
                    <li class="cj">￥0.01亿</li>
                    <li class="zf hong">76.58%</li>
                    <li class="fx">500,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">89</li>
                    <li class="bz"><span class="s-s-storj"></span>Storj</li>
                    <li class="sz">￥5.42亿</li>
                    <li class="jg hong">￥5.13&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">10,541.37万</li>
                    <li class="cj">￥0.48亿</li>
                    <li class="zf hong">0.67%</li>
                    <li class="fx">42,500万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">90</li>
                    <li class="bz"><span class="s-s-substratum"></span>Substratum</li>
                    <li class="sz">￥5.36亿</li>
                    <li class="jg hong">￥2.37&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">22,609.14万</li>
                    <li class="cj">￥0.35亿</li>
                    <li class="zf hong">14.22%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">91</li>
                    <li class="bz"><span class="s-s-zencash"></span>ZenCash</li>
                    <li class="sz">￥5.22亿</li>
                    <li class="jg lv">￥212.49&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">245.56万</li>
                    <li class="cj">￥0.09亿</li>
                    <li class="zf lv">-0.04%</li>
                    <li class="fx">2,100万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">92</li>
                    <li class="bz"><span class="s-s-counterparty"></span>Counterparty</li>
                    <li class="sz">￥5.13亿</li>
                    <li class="jg hong">￥196.01&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">261.75万</li>
                    <li class="cj">￥0.21亿</li>
                    <li class="zf hong">45.58%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">93</li>
                    <li class="bz"><span class="s-s-santiment-network-token"></span>Santiment Network Token</li>
                    <li class="sz">￥5.09亿</li>
                    <li class="jg hong">￥8.41&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">6,050.26万</li>
                    <li class="cj">￥0.58亿</li>
                    <li class="zf hong">3.59%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">94</li>
                    <li class="bz"><span class="s-s-particl"></span>Particl</li>
                    <li class="sz">￥4.86亿</li>
                    <li class="jg lv">￥62.41&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">778.71万</li>
                    <li class="cj">￥0.03亿</li>
                    <li class="zf lv">-3.29%</li>
                    <li class="fx">867万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">95</li>
                    <li class="bz"><span class="s-s-nexus"></span>Nexus</li>
                    <li class="sz">￥4.85亿</li>
                    <li class="jg lv">￥8.97&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">5,404.58万</li>
                    <li class="cj">￥0.05亿</li>
                    <li class="zf lv">-7.07%</li>
                    <li class="fx">5,177万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">96</li>
                    <li class="bz"><span class="s-s-ubiq"></span>Ubiq</li>
                    <li class="sz">￥4.84亿</li>
                    <li class="jg hong">￥12.39&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">3,904.49万</li>
                    <li class="cj">￥0.13亿</li>
                    <li class="zf hong">20.69%</li>
                    <li class="fx">3,771万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">97</li>
                    <li class="bz"><span class="s-s-adex"></span>AdEx</li>
                    <li class="sz">￥4.84亿</li>
                    <li class="jg hong">￥8.41&nbsp;<span class="hongsanjiao"></span></li>
                    <li class="lt">5,750.96万</li>
                    <li class="cj">￥0.26亿</li>
                    <li class="zf hong">0.81%</li>
                    <li class="fx">10,000万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">98</li>
                    <li class="bz"><span class="s-s-aragon"></span>Aragon</li>
                    <li class="sz">￥4.74亿</li>
                    <li class="jg lv">￥14.56&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">3,252.35万</li>
                    <li class="cj">￥0.06亿</li>
                    <li class="zf lv">-5.76%</li>
                    <li class="fx">3,961万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">99</li>
                    <li class="bz"><span class="s-s-bitbay"></span>BitBay</li>
                    <li class="sz">￥4.68亿</li>
                    <li class="jg lv">￥0.46&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">100,787.00万</li>
                    <li class="cj">￥0.39亿</li>
                    <li class="zf lv">-7.98%</li>
                    <li class="fx">0万</li>
                </ul>
            </li>
            <li class="baise">
                <ul class="f">
                    <li class="tubiao">100</li>
                    <li class="bz"><span class="s-s-edgeless"></span>Edgeless</li>
                    <li class="sz">￥4.66亿</li>
                    <li class="jg lv">￥5.68&nbsp;<span class="lvsanjiao"></span></li>
                    <li class="lt">8,204.63万</li>
                    <li class="cj">￥0.15亿</li>
                    <li class="zf lv">-4.37%</li>
                    <li class="fx">13,205万</li>
                </ul>
            </li>
        </ul>
    </div>
</div>