@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="top_g_g_888">
</div>
@Html.Raw(ViewBag.naviTitle)
@Html.Raw(ViewBag.naviDetail)
@Html.Raw(ViewBag.naviDetail2)